@model MVCCRUD2.Models.Administrador

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Administrador</h1>

<h3>¿Estás seguro de eliminar a este Administrador?, los datos no podrán ser recuperador</h3>
<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cdl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cdl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonaNavigation.IdPersona)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPersona" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <br />
        <a asp-action="Index" class="btn btn-primary">Volver</a>
    </form>
</div>
