@model MVCCRUD2.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estás seguro de eliminar a este Usuario?, los datos no podrán ser recuperador</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonaNavigation.IdPersona)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPersona" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <br />
        <a asp-action="Index" class="btn btn-primary">Volver</a>
    </form>
</div>
